<form class="mt-4 mx-5" [formGroup]="this.booksService.form" (ngSubmit)="onSubmit()">
    <div class="container ml-5">
        <div class="row">
            <h2 class="mat-h2">New Book form</h2>
        </div>
        <div class="row">
            <mat-form-field apperance="fill">
                <mat-label>Book Name</mat-label>
                <input matInput formControlName="Name" type="text" required>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field apperance="fill">
                <mat-label>Author</mat-label>
                <input matInput formControlName="Author" type="text" required>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field apperance="fill">
                <mat-label>Page Count</mat-label>
                <input matInput formControlName="PageCount" type="number" required>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field apperance="fill">
                <mat-label>Rating</mat-label>
                <input matInput formControlName="Rating" type="number" required>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field apperance="fill">
                <mat-label>Month read</mat-label>
                <input matInput formControlName="Month" type="text" required>
            </mat-form-field>
        </div>
        <div class="row">
            <input 
            type="file" (change)="onFileChanged($event)"
            style="display:none"
            #fileInput
            accept="image/*"
            >
        <button mat-raised-button color="primary" type="button" (click)="fileInput.click()">Upload Image</button>
        </div>
        <div class="row" *ngIf="selectedImage">
            <h3 class="col">{{selectedImage.name}}</h3>
        </div>
        <div class="row">
            <button mat-raised-button color="primary" type="submit" [disabled]="!booksService.form.valid">
                Submit
            </button>
        </div>
    </div>
</form>
<br>

<app-books-list></app-books-list>