html {
    color: black;
}

mat-form-field {
    min-width: 250px;
}

#loginCard {
    max-width: 500px;
}

button:focus {
    outline: none;
    border: 0;
}

#book {
    transform: scale(2);
    transition: color 0.3s ease;
}

#book:hover {
    color: #65696D;
    transition: color 0.3s ease;
}

#login {
    transition: background-color 0.3s ease;
}

#login:hover {
    background-color: #65696D;
    transition: background-color 0.3s ease;
}