<mat-toolbar color="primary">
    <button mat-icon-button color="secondary" aria-label="Example icon button with a menu icon">
        <mat-icon>book</mat-icon>
    </button>

    <span class="font-weight-light mr-3">Glasgow University Book Society</span>


    <a routerLink=""><span class="d-none d-lg-inline font-weight-light nav-link pb-1">Link 1</span></a>
    <a routerLink="404"><span class="d-none d-lg-inline font-weight-light nav-link pb-1">Link 2</span></a>
    <a routerLink="404"><span class="d-none d-lg-inline font-weight-light nav-link pb-1">Link 3</span></a>

    <span class="fill-remaining-space"></span>

    <div class="d-none d-lg-inline">
        <button mat-button class="mr-1"><span>Sign In</span></button>
        <button mat-button id="signUp"><span>Sign Up</span></button>
    </div>

    <div class="d-lg-none">
        <button mat-icon-button color="secondary" aria-label="Example icon button with a menu icon">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

</mat-toolbar>
