.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

button:focus {
    outline: none;
    border: 0;
}

.nav-link {
    font-size: 1.1rem;
}

a {
    transition: color 0.2s ease;
    color: white;

}

a:hover {
    color: #C6C6C6;
    transition: color 0.2s ease;
    text-decoration: none;
}

#signIn {
    transition: color 0.5s ease;
}

#signIn:hover {
    color: #C6C6C6;
    transition: color 0.5s ease;
}

#signUp {
    border-color: white;
    border-radius: 6px;
    border-width: 1ch;
    border: solid;
    transition: background-color 0.2s ease;
}

#signUp:hover {
    background-color: white;
    color: black;
    transition: background-color 0.2s ease;
}

#dropdown {
    background-color: #24292e;
}