<mat-toolbar color="primary">
    <button mat-icon-button color="secondary" aria-label="Example icon button with a menu icon">
        <mat-icon>book</mat-icon>
    </button>

    <span class="font-weight-light d-none d-sm-none d-md-inline">Glasgow University Book Society</span>
    <span class="font-weight-light d-xs-inline d-md-none">GU Book Society</span>

    <span class="fill-remaining-space"></span>

    <button mat-button class="mr-1">Sign In</button>
    <button mat-button id="signUp">Sign Up</button>
</mat-toolbar>
