<div class="container ml-5">
   <div class="row">
      <h2 class="mat-h2">List of books</h2>
   </div>
   <div class="row">
      <div class="col-sm-4 col-md-2">
         <h3 class="mat-h3">Name</h3>
      </div>
      <div class="col-sm-4 col-md-2">
         <h3 class="mat-h3">Author</h3>
      </div>
   </div>

   <div class="row" *ngFor="let book of books">
      <div class="col-md-2">{{ book.name}}</div>
      <div class="col-md-2">{{ book.author }}</div>
      <div class="col-md-2">
         <button mat-flat-button color="primary" routerLink="/bookDetail/{{book.id}}">Details</button>
      </div>
      <div class="col-md-2">
         <button mat-flat-button color="warn" (click)="deleteBook(book)">
            Delete
         </button>
      </div>
   </div>
</div>